name: 'Terraform GitHub Actions'
on:
  - pull_request
env:
  ARTIFACT_BUCKET: tf-artifacts
  SA_EMAIL: terraform@durable-footing-243118.iam.gserviceaccount.com
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Terraform Format'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'fmt'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Terraform Init'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'init'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Terraform Validate'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'validate'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Terraform Plan'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'plan'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_service_account_key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
      - name: 'Build artifact'
        uses: actions/upload-artifact@v1
        with:
          name: build_artifact.zip
          path: .
  google-cloud-storage:
    name: Upload to Google Cloud Storage
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact from previous job
        uses: actions/download-artifact@v1
        with:
          name: build_artifact.zip
      - name: Setup gcloud
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '278.0.0'
          service_account_email: $SA_EMAIL
          service_account_key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
      - name: Upload build artifact to GCS
        run: |
          gsutil cp build_artifact.zip gs://gs://$ARTIFACT_BUCKET/
